

.day {
    background-color: white;
    padding: 15px;
    margin-right: 10px;
    text-align: left;

    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 2;
    grid-row-end: 3; 

}

#daytext{
    margin-left: 10px;
    width: 45%;
}

.date {
    background-color: white;
    padding: 15px;
    margin-left: 10px;
    text-align: left;

    grid-column-start: 4;
    grid-column-end: 5;

    grid-row-start: 2;
    grid-row-end: 3; 

}

#datetext{
    margin-left: 10px;
    width: 70%
}

.top3{
    background-color: white;
    padding: 15px;
    margin: 15px;

    grid-column-start: 2;
    grid-column-end: 4;

    grid-row-start: 3;
    grid-row-end: 4;

    overflow: scroll;
}

.tasklist{
    background-color: white;
    padding: 15px;
    margin: 15px;

    grid-column-start: 2;
    grid-column-end: 4;

    grid-row-start: 4;
    grid-row-end: 6;

    overflow: scroll;

}

.notes{
    background-color: white;
    padding: 15px;
    margin: 15px;

    grid-column-start: 2;
    grid-column-end: 4;

    grid-row-start: 6;
    grid-row-end: 7;

    overflow: scroll;


}

.leftcolumn{
    background-color: white;
    padding: 15px;
    margin: 15px;

    grid-column-start: 4;
    grid-column-end: 6;

    grid-row-start: 3;
    grid-row-end: 7;

    overflow: scroll;

}

#notetextbox {
    width: 100%; 
    height: 150px;
    resize: vertical;
}

.task{
    width: 95%; 
}



